<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>File Transformer</h1>
            </div>
            <nav>
                <ul>
                    <li>File Transformer</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Upload File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>